# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [2]:
import pandas as pd
import numpy as np

In [3]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [34]:
black_friday.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [82]:
(sum(black_friday.Product_Category_3.isna() & black_friday.Product_Category_2.isna())-sum(black_friday.Product_Category_2.isna())) == 0

True

0        -0.193506
1         1.177698
2        -1.588401
3        -1.661679
4        -0.274012
            ...
537572    0.467804
537573    1.979943
537574   -0.259156
537575   -0.434019
537576   -0.493646
Name: Purchase, Length: 537577, dtype: float64

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [5]:
def q1():
    return (len(black_friday), len(black_friday.columns))

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [10]:
def q2():
    return sum((black_friday.Gender == 'F') & (black_friday.Age == '26-35'))

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [6]:
def q3():
    return black_friday.User_ID.nunique()

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [7]:
def q4():
    return len(set(black_friday.dtypes.to_list()))

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [8]:
def q5():
    return sum(black_friday.isnull().apply(lambda x: any(x), axis=1))/len(black_friday)

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [9]:
def q6():
    return int(black_friday.isnull().sum().max())

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [57]:
def q7():
    return float(black_friday.Product_Category_3.loc[~black_friday.Product_Category_3.isna()].value_counts().index[0])

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [11]:
def q8():
    return 0.0

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [12]:
def q9():
    df = black_friday.Purchase.describe()
    return sum(((black_friday.Purchase - df.loc['mean'])/df.loc['std']).apply(lambda x: (x >= -1.0) and ( x <= 1)))

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [73]:
def q10():
    return (sum(black_friday.Product_Category_3.isna() & black_friday.Product_Category_2.isna())-sum(black_friday.Product_Category_2.isna())) == 0