# Template 

- Author: Israel Oliveira [\[e-mail\]](mailto:'Israel%20Oliveira%20'<prof.israel@gmail.com>)

In [3]:
%load_ext watermark

In [4]:
import pandas as pd
from collections import Counter
from IPython.display import display

In [5]:
# Run this cell before close.
%watermark -d --iversion -b -r -g -m -v

pandas 1.0.5
2020-07-27

CPython 3.7.8
IPython 7.16.1

compiler   : GCC 8.3.0
system     : Linux
release    : 5.4.0-7634-generic
machine    : x86_64
processor  :
CPU cores  : 8
interpreter: 64bit
Git hash   : 4e772abc44cb985ee8a272dd184aacde393bdaf4
Git repo   : https://github.com/ysraell/aceleradev_private.git
Git branch : master

In [6]:
pd.set_option('display.max_rows', 500)

In [60]:
results_csv_name = 'Results_A2.csv'
df_laoded = pd.read_csv(results_csv_name)
df_laoded = df_laoded.loc[:, ~df_laoded.columns.str.contains('^Unnamed')]
df_laoded['P_True'] = df_laoded[['P1_True','P2_True']].sum(1)
df_laoded['P12pp'] = df_laoded[['P1pp','P2pp']].mean(1)

In [61]:
len(df_laoded)

99

In [62]:
df_laoded.sort_values(by='P_True', ascending=False).head(5)

,pre_proc,redux_func,n_components,dist,t,P1pp,P1_True,P1_len,P2pp,P2_True,P2_len,P_True,P12pp
9,escalaropt_std,_NMF,40,Manhattan,709.278774,0.280919,159,566,0.275472,73,265,232,0.278195
24,escalaropt_entropy,_NMF,40,Manhattan,766.688650,0.279152,158,566,0.275472,73,265,231,0.277312
13,escalaropt_std,_NMF,80,Manhattan,807.273263,0.263251,149,566,0.286792,76,265,225,0.275022
10,escalaropt_std,_NMF,50,Manhattan,720.989567,0.284452,161,566,0.233962,62,265,223,0.259207
15,escalaropt_std,_NMF,100,Manhattan,859.048347,0.266784,151,566,0.264151,70,265,221,0.265468

In [63]:
df_laoded.sort_values(by='P12pp', ascending=False).head(5)

,pre_proc,redux_func,n_components,dist,t,P1pp,P1_True,P1_len,P2pp,P2_True,P2_len,P_True,P12pp
9,escalaropt_std,_NMF,40,Manhattan,709.278774,0.280919,159,566,0.275472,73,265,232,0.278195
24,escalaropt_entropy,_NMF,40,Manhattan,766.688650,0.279152,158,566,0.275472,73,265,231,0.277312
13,escalaropt_std,_NMF,80,Manhattan,807.273263,0.263251,149,566,0.286792,76,265,225,0.275022
55,escalaropt_entropy,_TruncatedSVD,50,Manhattan,725.694037,0.259717,147,566,0.275472,73,265,220,0.267595
19,escalaropt_std,_NMF,140,Manhattan,958.504943,0.261484,148,566,0.271698,72,265,220,0.266591

In [5]:
results_csv_name1 = 'Results_A1.csv'
results_csv_name2 = 'Results_A2.csv'
df_laoded1 = pd.read_csv(results_csv_name1)
df_laoded2 = pd.read_csv(results_csv_name2)

In [6]:
df_laoded = pd.concat([df_laoded2, df_laoded1]).drop_duplicates()

In [7]:
df_laoded = df_laoded.loc[:, ~df_laoded.columns.str.contains('^Unnamed')]

In [8]:
df_laoded

,pre_proc,redux_func,n_components,dist,t,P1pp,P1_True,P1_len,P2pp,P2_True,P2_len,P3pp,P3_True,P3_len
0,escalaropt_missings,Nothing,168,Manhattan,1431.732030,0.005396,3,556,0.253968,144,567,0.251880,67,266
1,escalaropt_missings,Nothing,168,scy_cossine,1037.101138,0.005396,3,556,0.253968,144,567,0.251880,67,266
2,escalaropt_missings,Nothing,168,Camberra,1006.786389,0.005396,3,556,0.253968,144,567,0.251880,67,266
3,escalaropt_missings,Nothing,168,BrayCurtis,1023.607082,0.005396,3,556,0.253968,144,567,0.251880,67,266
4,escalaropt_missings,Nothing,168,np_cossine,1005.226768,0.005396,3,556,0.253968,144,567,0.251880,67,266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,escalaropt_entropy,_NMF,125,BrayCurtis,2095.189410,0.000000,0,556,0.268078,152,567,0.278195,74,266
599,escalaropt_entropy,_NMF,130,BrayCurtis,2122.532212,0.001799,1,556,0.243386,138,567,0.248120,66,266
600,escalaropt_entropy,_NMF,135,BrayCurtis,2186.907432,0.001799,1,556,0.243386,138,567,0.270677,72,266
601,escalaropt_entropy,_NMF,140,BrayCurtis,2195.089385,0.000000,0,556,0.243386,138,567,0.233083,62,266
602,escalaropt_entropy,_NMF,145,BrayCurtis,2218.574910,0.001799,1,556,0.222222,126,567,0.233083,62,266

In [9]:
df_laoded.to_csv(results_csv_name1, index=False)

df_laoded.to_csv(results_csv_name2, index=False)

results_csv_name_ = 'Results_23jul20.csv'
df_laoded.to_csv(results_csv_name_, index=False)